ecommerce-project/01-started-files/angular-image-assets/images/products/placeholder.png
ecommerce-project/01-started-files/db-scripts/01-create-user.sql
ecommerce-project/01-started-files/db-scripts/02-create-products.sql
ecommerce-project/01-started-files/spring-boot-properties/application.properties
